footer.footer
  .footer__content.footerContent 
    .footerContent__nav 
      ul.footerContent__list.footerContentList 
        li 
          a(href="shop.html") Каталог
        li 
          a(href="about.html") О нас
        li 
          a(href="shipping.html") Доставка и оплата
    .footerContent__bottom.footerContentBottom 
      .footerContentBottom__contacts.footerContentBottomContacts 
        .footerContentBottomContacts__item Телефон:
          a(href="tel:+79180822262") +7 (918) 082-22-62
        .footerContentBottomContacts__item Почта:
          a(href="mailto:сultura_comforta@mail.ru") сultura_comforta@mail.ru
        .footerContentBottomContacts__item.footerContentBottomContacts__item--inst Instagram:
          a(href="https://www.instagram.com")
            img(src="images/icons/inst.svg", alt="")
        .footerContentBottomContacts__item.footerContentBottomContacts__item--copyrights © Five Brand 2021 
      .footerContentBottom__policy.footerContentBottomPolicy
        a.footerContentBottomPolicy__private(href="#") Политика конфиденциальности
        a.footerContentBottomPolicy__dev(href="https://arkada-web.ru") Разработано arkada-web.ru
          img(src="images/icons/dev-logo.png", alt="")


.widgetBlockWhatsapp
  a.widgetBlockWhatsapp__link(href="#") 



.modalFirstVisit
  .modalFirstVisit__content 
    .modalFirstVisit__inner
      .modalFirstVisit__title ПОДПИШИСЬ НА НАШИ НОВОСТИ И АКЦИИ 
      .modalFirstVisit__subtitle И получи скидку -20% на первый заказ!
      .modalFirstVisit__formWrapper   
        form.modalFirstVisit__form(action="#") 
          input.modalFirstVisit__input.modalFirstVisit__input--email(type="email", placeholder="Введите ваш e-mail")
          input.modalFirstVisit__input.modalFirstVisit__input--btn(type="submit", value="Отправить")
      .modalFirstVisit__close
  .modalFirstVisit__overlay 
