//- svg.hide
//-   include svg

//- noscript.noscript Чтобы посмотреть сайт включите JavaScript на&nbsp;своём устройстве.

header.header
  .header__inner.headerInner
    .headerInner__logoBox.headerInnerLogoBox 
      a(href="index.html") 
        img(src="images/logo/logoHeader.png", alt="")
    nav.headerInner__nav.headerInnerNav
      ul.headerInnerNav__list.headerInnerNavList 
        li
          a(href="shop.html") Каталог
        li
          a(href="about.html") О нас
        li
          a(href="shipping.html") Доставка и оплата
    .headerInner__userBlock.headerInnerUserBlock 
      .headerInnerUserBlock__wishlist.headerInnerUserBlockWishlist 
        a(href="#") 
          img(src="images/icons/wishlist-icon.png", alt="")
      .headerInnerUserBlock__cart.headerInnerUserBlockCart 
        a(href="#") 
          img(src="images/icons/cart.png", alt="")
        .headerInnerUserBlockCart__amount 3