.notFoundBlock
  .notFoundBlock__content 
    .notFoundBlock__title страница не найдена
    .notFoundBlock__subtitle 404
    a.notFoundBlock__link(href="index.html") Вернуться на главную
  img.notFoundBlock__decorImg(src="images/brandTitle2.png", alt="")