div about page content

.modalFirstVisit
  .modalFirstVisit__content 
    .modalFirstVisit__inner
      .modalFirstVisit__title ПОДПИШИСЬ НА НАШИ НОВОСТИ И АКЦИИ 
      .modalFirstVisit__subtitle И получи скидку -20% на первый заказ!
      .modalFirstVisit__formWrapper   
        form.modalFirstVisit__form(action="#") 
          input.modalFirstVisit__input.modalFirstVisit__input--email(type="email", placeholder="Введите ваш e-mail")
          input.modalFirstVisit__input.modalFirstVisit__input--btn(type="submit", value="Отправить")
      .modalFirstVisit__close
  .modalFirstVisit__overlay 
