.pageFirstScreen
  .pageFirstScreen__first
    img(src="images/about-bg1.jpg", alt="")
  .pageFirstScreen__second
    img(src="images/about-bg2.jpg", alt="")
    img.pageFirstScreen__decorImg(src="images/brandTitle2.png", alt="")
section.aboutUsCard
  h2.aboutUsCard__title FIVE BRAND - КУЛЬТУРА КОМФОРТА
  .aboutUsCard__block 
    .aboutUsCard__content.aboutUsCardContent
      .aboutUsCardContent__title Массмаркет изжил себя 
      .aboutUsCardContent__desc 
        p Некачественные вещи, которые теряют свой вид после двух стирок, выходят из моды вместе с узкими джинсами, обтягивающими платьями и другой дискомфортной одеждой.
        p Все больше потребителями ценится комфорт, универсальность базовых вещей и уверенность в их качестве.
        p К сожалению, стоимость большинства брендов одежды,  которые соответствуют пожеланиям покупателей, имеют достаточно высокую цену, недоступную для многих.
    .aboutUsCardContent__aside 
      .aboutUsCardContent__asideCard 
        p Тогда и родилась идея создать КУЛЬТУРУ КОМФОРТА FIVE BRAND.
        p В моделях нам удалось воплотить стиль, универсальность, максимальное удобство, натуральность тканей и высокое качество пошива по доступной цене.
.aboutPageSliderWrapper
  .aboutPageSliderWrapper__slider.aboutPageSlider
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-1.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-1.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-3.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-4.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
      a(href="images/aboutSlider/aboutslide-1.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-1.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-3.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-4.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
section.aboutMaterial
  .aboutMaterial__title.blockTitleBox
    h3.blockTitleBox__title О материале
    .blockTitleBox__line.fullWidthTitleLine
  .aboutMaterial__text 
    p Вы знаете, что такое футер?
      br
      | Давайте попробуем разобраться, что же это за материал.⁣⁣
    p Для начала футер - это не ткань, а один из видов хлопкового трикотажа, который вывязывается на специальных машинах в два этапа. ⁣⁣⠀
    p Технология его производства так и называется – футеровка, и это значит использование двух видов нитей.⁣⁣ Крепкие и гладкие хлопковые нити высокого качества идут на основу, образуют внешнюю, лицевую часть, которая создается на первом этапе. Рыхлые, мягкие нити из хлопка образуют подкладочный, футерный слой, который вплетается в основу, образуя начес.⁣⁣⠀
    p Футерованное полотно отличается от трикотажной глади чрезвычайной мягкостью, оно более прочное, имеет большую плотность, прочность и толщину. Его теплозащитные свойства также более выражены, так как растяжимость не так велика.⁣⁣⠀
    p В наших костюмах мы используем футер наивысшего качества и плотности – трехнитчатый. Это значит, что они будут служить вам очень-очень долго.⁣⁣⠀
section.aboutContacts 
  .aboutContacts__title.blockTitleBox
    h3.blockTitleBox__title Реквизиты и контакты
    .blockTitleBox__line.fullWidthTitleLine
  .aboutContacts__content 
    .aboutContacts__requisites
      p ИНН	7712345678
      p КПП	779101001
      p Р/С	40702810123450101230
      p К/С	30101234500000000225
      p ОГРН	1047712345678
    .aboutContacts__contactsBlock.aboutContactsData
      .aboutContactsData
        .aboutContactsData__item Телефон:
          a(href="tel:+79180822262") +7 (918) 082-22-62
        .aboutContactsData__item Почта:
          a(href="mailto:сultura_comforta@mail.ru") сultura_comforta@mail.ru
        .aboutContactsData__item.aboutContactsData__item--inst Instagram:
          a(href="https://www.instagram.com") 
            img(src="images/icons/inst-black.svg", alt="")


