.aboutFirstScreen
  .aboutFirstScreen__first
    img(src="images/about-bg1.jpg", alt="")
  .aboutFirstScreen__second
    img(src="images/about-bg2.jpg", alt="")
    img.aboutFirstScreen__decorImg(src="images/brandTitle2.png", alt="")
section.aboutUsCard
  h2.aboutUsCard__title FIVE BRAND - КУЛЬТУРА КОМФОРТА
  .aboutUsCard__block 
    .aboutUsCard__content.aboutUsCardContent
      .aboutUsCardContent__title Массмаркет изжил себя 
      .aboutUsCardContent__desc 
        p Некачественные вещи, которые теряют свой вид после двух стирок, выходят из моды вместе с узкими джинсами, обтягивающими платьями и другой дискомфортной одеждой.
        p Все больше потребителями ценится комфорт, универсальность базовых вещей и уверенность в их качестве.
        p К сожалению, стоимость большинства брендов одежды,  которые соответствуют пожеланиям покупателей, имеют достаточно высокую цену, недоступную для многих.
    .aboutUsCardContent__aside 
      .aboutUsCardContent__asideCard 
        p Тогда и родилась идея создать КУЛЬТУРУ КОМФОРТА FIVE BRAND.
        p В моделях нам удалось воплотить стиль, универсальность, максимальное удобство, натуральность тканей и высокое качество пошива по доступной цене.
.aboutPageSliderWrapper
  .aboutPageSliderWrapper__slider.aboutPageSlider
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-1.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-1.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-3.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-4.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
      a(href="images/aboutSlider/aboutslide-1.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-1.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-3.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-4.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-2.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-2.jpg", alt="")
    .aboutPageSlider__item
      a(href="images/aboutSlider/aboutslide-3.jpg", data-fancybox="gallery") 
        img(src="images/aboutSlider/aboutslide-4.jpg", alt="")

