.breadcrumbs
  ul.breadcrumbs__list 
    li
      a(href="cart.html") Корзина
    li.breadcrumbs__item--current
      span Доставка и оплата
    li
      a(href="#") Подтверждение
.checkoutBlock
  form.checkoutBlock__form.checkoutForm(action="#")
    .checkoutForm__first
      .checkoutForm__block 
        .checkoutForm__title Покупатель
          input.checkoutForm__input(type="email")
          input.checkoutForm__input(type="text")
          input.checkoutForm__input(type="tel")
      .checkoutForm__block 
        .checkoutForm__title Адрес доставки
          input.checkoutForm__input(type="text")
          input.checkoutForm__input(type="text")
          input.checkoutForm__input(type="text")
          .checkoutForm__inputsBlock
            input(type="checkbox", id="takeSelf", checked)
            label(for="takeSelf") Заберу самостоятельно по адресу г. Краснодар, ул.
            input.checkoutForm__inputTextRow(type="text")
      .checkoutForm__block 
        .checkoutForm__title Способ оплаты
        label Оплата картой на сайте
          input(type="checkbox", checked)
        label Оплата при получении
          input(type="checkbox")
    .checkoutForm__second
    

.modalFirstVisit
  .modalFirstVisit__content 
    .modalFirstVisit__inner
      .modalFirstVisit__title ПОДПИШИСЬ НА НАШИ НОВОСТИ И АКЦИИ 
      .modalFirstVisit__subtitle И получи скидку -20% на первый заказ!
      .modalFirstVisit__formWrapper   
        form.modalFirstVisit__form(action="#") 
          input.modalFirstVisit__input.modalFirstVisit__input--email(type="email", placeholder="Введите ваш e-mail")
          input.modalFirstVisit__input.modalFirstVisit__input--btn(type="submit", value="Отправить")
      .modalFirstVisit__close
  .modalFirstVisit__overlay 
