.firstScreen
  a.firstScreen__link(href="shop.html") Перейти в каталог
.specialOffersBlock
  .specialOffersBlock__titleWrapper.blockTitleBox
    h3.specialOffersBlock__title.blockTitleBox__title Новинки и скидки
    .blockTitleBox__line
  a.specialOffersBlock__mainLink(href="shop.html") Посмотреть ещё