.firstScreen
  a.firstScreen__link(href="shop.html") Перейти в каталог
.specialOffersBlock
  .specialOffersBlock__titleWrapper.blockTitleBox
    h3.specialOffersBlock__title.blockTitleBox__title Новинки и скидки
    .blockTitleBox__line
  a.specialOffersBlock__mainLink(href="shop.html") Посмотреть ещё
  .specialOffersBlock__box.specialOffersBlockBox
    .specialOffersBlockBox__productCard.specialOffers__productCard.productCard.productCard--new
      a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
        img.productCard__img(src="images/products/product1.jpg", alt="")
        .productCard__statuses
          .productCard__status.productCard__status--sale sale
          .productCard__status.productCard__status--new new
      .productCard__wishlistBlock.productCard__wishlistBlock--added
        <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
        <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
      a.productCard__content(href="product-page.html")
        .productCard__contentTitle Спортивный костюм оверсайз с брюками
        .productCard__contentPrice.productCardPrice
          .productCardPrice__regular 3 000 ₽
          .productCardPrice__new
          .productCardPrice__old
    .specialOffersBlockBox__productCard.specialOffers__productCard.productCard.productCard--sale
      a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
        img.productCard__img(src="images/products/product2.jpg", alt="")
        .productCard__statuses
          .productCard__status.productCard__status--sale sale
          .productCard__status.productCard__status--new new
      .productCard__wishlistBlock
        <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
        <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
      a.productCard__content(href="product-page.html")
        .productCard__contentTitle Спортивный костюм оверсайз с брюками
        .productCard__contentPrice.productCardPrice
          .productCardPrice__regular
          .productCardPrice__new 2 700 ₽
          .productCardPrice__old 3 000 ₽
    .specialOffersBlockBox__productCard.specialOffers__productCard.productCard.productCard--new
      a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
        img.productCard__img(src="images/products/product3.jpg", alt="")
        .productCard__statuses
          .productCard__status.productCard__status--sale sale
          .productCard__status.productCard__status--new new
      .productCard__wishlistBlock
        <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
        <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
      a.productCard__content(href="product-page.html")
        .productCard__contentTitle Спортивный костюм из футера с брюками
        .productCard__contentPrice.productCardPrice
          .productCardPrice__regular 3 000 ₽
          .productCardPrice__new
          .productCardPrice__old
    .specialOffersBlockBox__productCard.specialOffers__productCard.productCard
      a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
        img.productCard__img(src="images/products/product4.jpg", alt="")
        .productCard__statuses
          .productCard__status.productCard__status--sale sale
          .productCard__status.productCard__status--new new
      .productCard__wishlistBlock
        <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
        <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
        </svg>
      a.productCard__content(href="product-page.html")
        .productCard__contentTitle Спортивный костюм с шортами
        .productCard__contentPrice.productCardPrice
          .productCardPrice__regular 3 000 ₽
          .productCardPrice__new
          .productCardPrice__old
.businessCardBlock  
  .businessCardBlock__images.businessCardBlockImages 
    .businessCardBlockImages__top.businessCardBlockImagesTop  
      img(src="images/brandTitle1.png", alt='')
    .businessCardBlockImages__bottom.businessCardBlockImagesBottom
      .businessCardBlockImagesBottom__imgWrapper
        img(src="images/businessCard1.jpg", alt="")
      .businessCardBlockImagesBottom__imgWrapper
        img(src="images/businessCard2.jpg", alt="")
  .businessCardBlock__textContent.businessCardBlockTextContent
    .businessCardBlockTextContent__decor
    .businessCardBlockTextContent__title FIVE BRAND - КУЛЬТУРА КОМФОРТА
    p Мы молодой российский бренд собственного производства.
    p Мы поддерживаем тенденцию eco-production и работаем с переработанными материалами.
    a.businessCardBlockTextContent__link(href="about.html") Узнать больше
.feedBackBlock
  .feedBackBlock__content.feedBackContent
    .feedBackContent__headers.feedBackContentHeaders 
      h3.feedBackContentHeaders__mainTitle Форма обратной связи
      .feedBackContentHeaders__subtitle Возникли вопросы? <br /> Оставьте ваши контакты, и мы свяжемся с вами!
    .feedBackContent__formWrapper.feedBackContentFormWrapper
      form.feedBackContentFormWrapper__form.feedBackContentForm
        input.feedBackContentForm__input(type="text", placeholder="Ваше имя")
        input.feedBackContentForm__input(type="tel", placeholder="Ваш телефон")
        input.feedBackContentForm__input.feedBackContentForm__input--btn(type="submit", value="Отправить")
.testimonialsBlock
  .testimonialsBlock__title.blockTitleBox
    .blockTitleBox__title Отзывы покупателей
    .blockTitleBox__line
  .testimonialsBlock__sliderWrapper.testimonialsBlockSliderWrapper
    .testimonialsBlockSliderWrapper__slider.testimonialsSlider
      .testimonialsSlider__item.testimonialsSliderItem
        .testimonialsSliderItem__inner
          .testimonialsSliderItem__title.testimonialsSliderItemTitle
            .testimonialsSliderItemTitle__name Екатерина
            .testimonialsSliderItemTitle__date 25.09.20
          .testimonialsSliderItem__text Костюм бомба! Закажу себе второй чёрный. Качество отличное! Длина на рост 175 идеально. Лучший вариант для путешествий или прогулок по городу.
          .testimonialsSliderItem__images.testimonialsSliderItemImages
            a(href="images/testimonials/testimonial1.jpg", data-fancybox="images") 
              img(src="images/testimonials/testimonial1.jpg", alt="")
            a(href="images/testimonials/testimonial2.jpg", data-fancybox="images") 
              img(src="images/testimonials/testimonial2.jpg", alt="")
        .testimonialsSliderItem__moreBtn Показать весь отзыв
      .testimonialsSlider__item.testimonialsSliderItem
        .testimonialsSliderItem__inner
          .testimonialsSliderItem__title.testimonialsSliderItemTitle
            .testimonialsSliderItemTitle__name Татьяна
            .testimonialsSliderItemTitle__date 18.10.21
          .testimonialsSliderItem__text__wrapper
            .testimonialsSliderItem__text.testimonialsSliderItem__text--test Костюм нереальный!!! очень понравился! Рост 174 тяжело было подобрать штаны, а эти прям до пола!!! Я ооочень довольна! Качество отличное. Костюм нереальный!!!🔥🔥🔥 очень понравился! Рост 174 тяжело было подобрать штаны, а эти прям до пола!!! Я ооочень довольна! Качество отличное.
          //- .testimonialsSliderItem__images.testimonialsSliderItemImages
            //- a(href="images/testimonials/testimonial1.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial1.jpg", alt="")
            //- a(href="images/testimonials/testimonial2.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial2.jpg", alt="")
        .testimonialsSliderItem__moreBtn Показать весь отзыв
      .testimonialsSlider__item.testimonialsSliderItem
        .testimonialsSliderItem__inner
          .testimonialsSliderItem__title.testimonialsSliderItemTitle
            .testimonialsSliderItemTitle__name Мария
            .testimonialsSliderItemTitle__date 17.09.21
          .testimonialsSliderItem__text Отличный костюм для осени. Комфортный и удобный в носке. Размерный сетке соответствует. Цвет насыщенный. Сшит аккуратно, качество на высоте.
          //- .testimonialsSliderItem__images.testimonialsSliderItemImages
            //- a(href="images/testimonials/testimonial1.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial1.jpg", alt="")
            //- a(href="images/testimonials/testimonial2.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial2.jpg", alt="")
        .testimonialsSliderItem__moreBtn Показать весь отзыв
      .testimonialsSlider__item.testimonialsSliderItem
        .testimonialsSliderItem__inner
          .testimonialsSliderItem__title.testimonialsSliderItemTitle
            .testimonialsSliderItemTitle__name Наталья
            .testimonialsSliderItemTitle__date 21.09.21
          .testimonialsSliderItem__text Однозначно 5⭐! Первое, что впечатлило- это упаковка. Сразу видно, что эта вещь делалась с душой. Качество костюма тоже очень порадовало. Однозначно 5⭐! Первое, что впечатлило- это упаковка. Сразу видно, что эта вещь делалась с душой. Качество костюма тоже очень порадовало.
          //- .testimonialsSliderItem__images.testimonialsSliderItemImages
            //- a(href="images/testimonials/testimonial1.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial1.jpg", alt="")
            //- a(href="images/testimonials/testimonial2.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial2.jpg", alt="")
        .testimonialsSliderItem__moreBtn Показать весь отзыв
      .testimonialsSlider__item.testimonialsSliderItem
        .testimonialsSliderItem__inner
          .testimonialsSliderItem__title.testimonialsSliderItemTitle
            .testimonialsSliderItemTitle__name Екатерина
            .testimonialsSliderItemTitle__date 25.09.20
          .testimonialsSliderItem__text Костюм 
          //- .testimonialsSliderItem__images.testimonialsSliderItemImages
            //- a(href="images/testimonials/testimonial1.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial1.jpg", alt="")
            //- a(href="images/testimonials/testimonial2.jpg", data-fancybox="images") 
            //-   img(src="images/testimonials/testimonial2.jpg", alt="")
        .testimonialsSliderItem__moreBtn Показать весь отзыв