.productBoxBlock
  .productBoxBlock__navLinkBlock
    a.productBoxBlock__navLink(href="shop.html") КАТАЛОГ
  .productBoxBlock__content.productBox
    .productBox__productImages.productBoxProductImages
      .productBoxProductImages__productSlider.productBoxProductSlider
        .productBoxProductSlider__item.productBoxProductSlider__item--current
          img(src="images/products/product1.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product2.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product1.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product2.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product1.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product2.jpg", alt="") 
        .productBoxProductSlider__item 
          img(src="images/products/product1.jpg", alt="") 
      .productBoxProductImages__mainPhoto 
        img(src="images/products/product2-big.jpg", alt="")
    .productBox__content.productBoxContent
      .productBoxContent__productCode Арт. 54646
      .productBoxContent__productTitle Спортивный костюм оверсайз с брюками
      .productBoxContent__productPrice 
        .productCard__contentPrice.productCardPrice
          .productCardPrice__regular
          .productCardPrice__new 2 700 ₽
          .productCardPrice__old 3 000 ₽
      .productBoxContent__productSizes.productBoxContentSizes 
        .productBoxContentSizes__item.productBoxContentSizes__item--current S-M
        .productBoxContentSizes__item M-L
        .productBoxContentSizes__item L-XL
      .productBoxContent__table Таблица размеров
      .productBoxContent__variationsBlock.productBoxVariationsBlock
        .productBoxVariationsBlock__head.productBoxVariationsBlockHead
          .productBoxVariationsBlockHead__title Цвет: 
            span небесный голубой
          .productBoxVariationsBlockHead__circle(style="background:#6158CE;")
        .productBoxVariationsBlock__sliderWrapper 
          .productBoxVariationsBlock__slider.productBoxVariationsBlockSlider
            .productBoxVariationsBlockSlider__item.productBoxVariationsBlockSlider__item--current 
              img(src="images/products/product3.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product2.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product3.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product2.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product3.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product2.jpg", alt="")
            .productBoxVariationsBlockSlider__item 
              img(src="images/products/product3.jpg", alt="")