.pageFirstScreen
  .pageFirstScreen__first
    img(src="images/shipping-bg1.jpg", alt="")
  .pageFirstScreen__second
    img(src="images/shipping-bg2.jpg", alt="")
    img.pageFirstScreen__decorImg(src="images/brandTitle2.png", alt="")
section.shipping
  .shipping__title ДОСТАВКА И ОПЛАТА
  .shipping__block.shippingBlock.shippingBlock--border
    .shippingBlock__title Доставка
    .shippingBlock__desc
      p В интернет-магазине FIVE BRAND Вы можете приобрести одежду и аксессуары с доставкой по России.
      p ДОСТУПНЫ СЛЕДУЮЩИЕ ВАРИАНТЫ ДОСТАВКИ ЗАКАЗА:
      p Курьером или в пункт выдачи СДЭК
        br
        | Стоимость доставки - 300 руб.
        br
        | Варианты оплаты: полная оплата на сайте, оплата наложенным платежом* (при получении заказа).
      p При отказе от заказа, стоимость доставки не возвращается.
      p *при оплате наложенным платежом, максимальное количество изделий в заказе – 6 ед., из них до 2 ед. верхней одежды.
      p Срок доставки рассчитывается индивидуально и зависит от выбранного вами способа и адреса доставки, не превышая 10 рабочих дней.
      p Обращаем ваше внимание, что срок доставки в удаленные регионы может быть увеличен.
  .shipping__block.shippingBlock
    .shippingBlock__title Оплата
    .shippingBlock__desc
      p 1. Оплата онлайн
      p Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure для проведения платежа также может потребоваться ввод специального пароля. 
      p Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
      p 2. Оплата при получении
      p Оплата производится в момент получения заказа, при выборе доставки в пункт выдачи СДЭК или курьером.
      p Если у вас возникли проблемы с оплатой, напишите нам через форму обратной связи или свяжитесь с нами любым другим удобным способом.
  .shipping__block.shippingBlock
    .shippingBlock__title Возврат
    .shippingBlock__desc
      p При заказе в интернет-магазине FIVE BRAND вы можете осуществить возврат товара в течение 14 дней (четырнадцать) дней с даты получения заказа.
      p Мы сможем принять обратно и вернуть вам деньги только за тот товар, который не был в употреблении (имеет все бирки, оригинальную фабричную упаковку и товарный вид, а также полностью комплектен).**
      p Для оформления возврата необходимо:
      p 1. Заполнить заявление на возврат.
      p 2. Собрать посылку, состоящую из:
      p товара (в надлежащем виде с сохранением фирменных ярлыков и бирок)
        br
        | заполненного и подписанного заявления на возврат
        br
        | чека
      p 3. Осуществить возврат можно удобным для вас способом:
      p 3.1. Курьерской службой или Почтой России.
      p Оплачивается отправителем.
      p Адрес для отправки: _____________



















