.shopSection 
  aside.shopSection__sidebar.shopSidebar
    .shopSidebar__categoriesBlock
      .shopSidebar__categoriesTitle.shopSidebar__title Категория
      ul.shopSidebar__categoriesList.shopSidebarCategoriesList
        li
          a.active(href="shop.html") Спортивные костюмы
        li
          a(href="shop.html") Другая категория
    .shopSidebar__formBlock 
      form.shopSidebar__form.shopSidebarForm(action="#")
        .shopSidebarForm__item.shopSidebarForm__item--color
          .shopSidebar__colorTitle.shopSidebar__title Цвет
          .shopSidebarForm__inputsBox.shopSidebarForm__inputsBox--color
            input.shopSidebarForm__inputColor#black(type="checkbox", name="black", value="black", checked, style="background:#393939")
            label(for="black") 
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", style="background:#eee")
            input.shopSidebarForm__inputColor(type="checkbox", name="red", value="red", style="background:#F02424")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", style="background:#6158CE")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", checked, style="background:#36B943")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", checked, style="background:#FDC7C7")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", checked, style="background:#FF9330")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", style="background:#FFE6A7")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", style="background:#CFCFCF")
            input.shopSidebarForm__inputColor(type="checkbox", name="black", value="black", style="background:#AF4205")
        .shopSidebarForm__item
          .shopSidebar__colorTitle.shopSidebar__title Размер
          .shopSidebarForm__inputsBox.shopSidebarForm__inputsBox--size
            label
              input.shopSidebarForm__inputColor(type="checkbox", name="42", value="42", checked)
              | 42
            label
              input.shopSidebarForm__inputColor(type="checkbox", name="44", value="44")
              | 44
            label
              input.shopSidebarForm__inputColor(type="checkbox", name="46", value="46")
              | 46
            label
              input.shopSidebarForm__inputColor(type="checkbox", name="48", value="48")
              | 48
        .shopSidebarForm__item
          .shopSidebar__colorTitle.shopSidebar__title Цена
          .shopSidebarForm__inputsBox.shopSidebarForm__inputsBox--price
            input.js-range-slider(type="text", name="my_range", value="", data-skin="round", data-type="double", data-min="0", data-max="5000")
  .shopSection__catalogBlock.shopSectionCatalogBlock
    .shopSection__sorting.shopSectionCatalogBlockSorting
      .shopSectionCatalogBlockSorting__box Сортировать по
        select(name="sorting") 
          option(value="popular") популярности
          option(value="name") имени
          option(value="price") цене по возрастанию
    .shopSection__Catalog.shopSectionCatalog
      .shopSectionCatalog__item.productCard.productCard--sale
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular
            .productCardPrice__new 2 700 ₽
            .productCardPrice__old 3 000 ₽
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock.productCard__wishlistBlock--added
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard.productCard--new
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
      .shopSectionCatalog__item.productCard
        a.productCard__imageBlock.productCardImageBlock(href="product-page.html")
          img.productCard__img(src="images/products/product1.jpg", alt="")
          .productCard__statuses
            .productCard__status.productCard__status--sale sale
            .productCard__status.productCard__status--new new
        .productCard__wishlistBlock
          <svg class="productCard__wishlist productCard__wishlist--default" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 1.34923C20.785 1.34923 21.1589 1.38569 21.5327 1.42216C23.7383 1.64095 26.2056 3.6101 26.5794 7.51192V8.97055C26.2056 13.5652 21.9439 18.7433 13.9813 24.3226C6.01869 18.7433 1.79439 13.5652 1.38318 8.97055V7.51192C1.71963 3.6101 4.2243 1.60449 6.42991 1.42216C6.80374 1.38569 7.17757 1.34923 7.5514 1.34923C10.0187 1.34923 11.215 2.2244 12.8972 4.23001L13.9813 5.46985L15.0654 4.23001C16.785 2.2244 17.9439 1.34923 20.4112 1.34923ZM20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.38562e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
          <svg class="productCard__wishlist productCard__wishlist--added" width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.4112 0C17.2336 0 15.7383 1.34923 13.9813 3.35484C12.2243 1.31276 10.729 0 7.5514 0C7.14019 0 6.72897 0.0364659 6.28037 0.0729316C3.5514 0.328191 0.373832 2.77139 0 7.47546V9.00701C0.373832 13.4923 3.85047 19.0351 13.9813 26C24.1495 19.0351 27.6262 13.4923 28 9.00701V7.43899C27.6262 2.73492 24.4486 0.291725 21.6822 0.0364658C21.2336 1.37836e-07 20.8224 0 20.4112 0Z" fill="#393939"/>
          </svg>
        a.productCard__content(href="product-page.html")
          .productCard__contentTitle Спортивный костюм оверсайз с брюками
          .productCard__contentPrice.productCardPrice
            .productCardPrice__regular 3 000 ₽
            .productCardPrice__new
            .productCardPrice__old
    .shopSection__pagination.shopSectionPagination
      ul.shopSectionPagination__list 
        li.shopSectionPagination__item.shopSectionPagination__item--active
          span 1
        li.shopSectionPagination__item
          a(href="#") 2
        li.shopSectionPagination__item
          a(href="#") 3
        li.shopSectionPagination__item
          a(href="#") 4
