@font-face {
	font-family: 'AkzidenzGroteskPro-Md';
	src: url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/AkzidenzGrotesk/medium/fonts/akzidenzgroteskpro-md.svg#akzidenzgroteskpro-md') format('svg'); /* Chrome < 4, Legacy iOS */
}