
html,
body
  font-size 10px

html
  scroll-behavior: smooth;

body
  font-family: 'AkzidenzGroteskPro-Regular', sans-serif;

a 
  color inherit
  text-decoration none
  
.hide
  display none

.textInfoCard
    fz(24)
    line-height 1.46
    text-transform uppercase
    color #fff
    background-color #23164B
    strong
      font-weight bold

