
html,
body
  font-size 10px

html
  scroll-behavior: smooth;

body
  font-family: 'AkzidenzGroteskPro-Regular', sans-serif;
  color $baseColor

a 
  color inherit
  text-decoration none
  
.hide
  display none

.page
  display flex
  flex-direction column
  min-height 100vh
  main
    flex-grow 1

.blockTitleBox
  position relative
.blockTitleBox__line
  position absolute
  content ''
  width 100%
  height 1px
  background-color $baseColor
  top 50%
  z-index -1

.blockTitleBox__title
  fz(30)
  line-height (39/30)
  color: $baseColor
  position relative
  z-index 2
  width fit-content
  background-color #fff
  padding-right cw(62)

.productCard
  position relative
  .productCard__status--sale,
  .productCard__status--new
    display none
  &--sale
    .productCard__status--sale
      display block
  &--new
    .productCard__status--new
      display block

.productCardImageBlock
  display block
  position relative
  margin-bottom cw(25)
.productCard__img
  display block
  width 100%
  height auto
  object-fit cover
.productCard__statuses
  position absolute
  top 0
  left 0
.productCard__status
  font-family $fontLight
  fz(20)
  line-height (26/20)
  color #fff
  padding 6px 18px
  background-color $baseColor
.productCard__wishlistBlock
  position absolute
  top 13px
  right 22px
  z-index 3
.productCard__wishlistBlock
  .productCard__wishlist--default
    display inline
  .productCard__wishlist--added
    display none
  &--added
    .productCard__wishlist--default
      display none
    .productCard__wishlist--added
      display inline
.productCard__contentTitle
  fz(18)
  margin-bottom cw(21)
  padding-right 20%
  line-height (23/18)
  color $baseColor
.productCardPrice
  display flex
  div
    font-family $fontMd
    fz(20)
    line-height (25/20)
    color $baseColor
  .productCardPrice__old
    margin-left cw(20)
    text-decoration line-through
    color #949494
// end of common styles


// index page styles start
.firstScreen
  height 80vh
  background-image url('../images/main-bg.jpg')
  background-repeat no-repeat
  background-size cover
  background-position center top
  position relative
.firstScreen__link
  display block
  max-width 280px
  border: 2px solid #fff
  color: #fff
  fz(23)
  font-family: $fontLight
  padding 18px 44px
  margin 0 auto
  position relative
  top 65%
  @media(min-width:992px)
    &:hover
      text-decoration underline
.specialOffersBlock
  wrapper()
  padding-top cw(100)
  margin-bottom cw(120)
.specialOffersBlock__titleWrapper
  margin-bottom cw(101)
.specialOffersBlock__mainLink
  position relative
  display block
  margin-right 0
  margin-left auto
  width fit-content
  fz(20)
  line-height (26/20)
  color $baseColor
  font-family $fontLight
  padding-right 119px
  margin-bottom cw(74)
  @media(min-width: 992px)
    &:hover
      text-decoration underline
  &::after
    position absolute
    content url('../images/arrows/arrow-right1.svg')
    right 0
    top 50%
    transform translateY(-50%)
.specialOffersBlockBox
  display flex
  justify-content space-between
.specialOffers__productCard
  display block
  width 23%
  // width 23.75%

.businessCardBlock
  wrapper()
  display flex
  align-items flex-end
  justify-content space-between
  margin-bottom cw(135)
.businessCardBlockImages
  width 57%
.businessCardBlockImagesTop
  margin 0 auto
  width fit-content
  position relative
  top 160px
  left 90px
.businessCardBlockImagesBottom
  display flex
  align-items flex-end
  justify-content space-between
.businessCardBlockImagesBottom__imgWrapper
  img
    display block
    width 100%
    height auto
    object-fit: cover
  &:first-child
    width 56%
  &:last-child
    width 41%
.businessCardBlockTextContent
  position relative
  width 38%
  p
    font-family $fontLight
    fz(21)
    line-height (27/21)
    color $baseColor
    margin-bottom cw(20)
.businessCardBlockTextContent__decor
    position absolute
    left 0
    right 0
    top -143px
    height 1px
    background-color $baseColor
.businessCardBlockTextContent__title
  font-family $fontMd
  fz(24)
  line-height (30/24)
  color $baseColor
  margin-bottom cw(47)
.businessCardBlockTextContent__link
  display block
  width fit-content
  margin-top cw(88)
  border 1px solid $baseColor
  padding 15px 53px
  font-family $fontLight
  fz(21)
  line-height (27/21)
  color $baseColor
  transition: all .3s
  &:hover
    background-color #d5d5d5
.feedBackBlock
  background-color $baseColor
  padding-top cw(70)
  padding-bottom cw(75)
.feedBackContent
  wrapper()
  display flex
  justify-content space-between
.feedBackContentHeaders__mainTitle
  font-family $fontMd
  fz(30)
  line-height (38/30)
  color #fff
  margin-bottom cw(42)
.feedBackContentHeaders__subtitle
  font-family $fontLight
  fz(22)
  line-height (29/20)
  color #fff
.feedBackContentFormWrapper
  width 38%
.feedBackContentForm
  display flex
  flex-direction: column
  max-width: 245px
.feedBackContentForm__input
  margin-bottom cw(53)
  font-family $fontLight
  fz(20)
  line-height (26/20)
  color #fff
  background-color: transparent
  padding-bottom cw(13)
  border none
  border-bottom 1px solid #fff
  &::placeholder
    color: rgba(255, 255, 255, 0.6);
  &--btn
    border 1px solid #fff
    padding-top cw(15)
    padding-bottom cw(15)
    transition: all .3s
    @media(min-width: 992px)
      &:hover
        background-color: #222

.testimonialsBlock
  wrapper()
  padding-top cw(135)
  padding-bottom cw(136)
.testimonialsBlock__title
  margin-bottom cw(115)

.testimonialsBlockSliderWrapper
  position relative
  .pagingInfoBlock
    position absolute
    left 0
    bottom -80px
    display flex
    align-items center
    fz(23)
    line-height (30/23)
    color $baseColor
  .pagingInfoBlockItems
    position relative
    width cw(250)
    margin-right cw(20)
    height 1px
    background #939393
  .pagingInfoBlockItems__item
    position absolute
    right 0
    left 50%
    height 100%
    background #000
    transition all .2s
.testimonialsSlider
  margin 0 -10px
  position relative
.testimonialsSliderItem
  border 1px solid $baseColor
  padding cw(35) cw(16) cw(68)
  min-height 388px
  max-height 388px
  // max-width 20%
  margin 0 10px
  overflow hidden
  transition all 1s
  &--scrolled
    .testimonialsSliderItem__moreBtn
      display block
  &--full
    max-height 500px
    .testimonialsSliderItem__inner,
    .testimonialsSliderItem__text
      max-height 500px
    .testimonialsSliderItem__moreBtn
      &:after
        transform rotate(180deg)
.testimonialsSliderItem__moreBtn
  width fit-content
  display none
  padding-top 8px
  padding-right 30px
  fz(18)
  line-height (23/18)
  color $baseColor
  cursor pointer
  position relative
  &:after
    position absolute
    content url('../images/arrows/arrow-down1.svg')
    right 0
    bottom  0
    // width 30px
    // height 30px
.testimonialsSliderItem__inner
  max-height: 28.5rem
  transition all 1s
.testimonialsSliderItem__title
  fz(21)
  line-height (27/21)
  margin-bottom cw(35)
  display flex
  justify-content space-between
.testimonialsSliderItemTitle__name
  fz(21)
  line-height (27/21)
.testimonialsSliderItemTitle__date
  fz(15)
  line-height (19/15)
  color $baseColor
  position relative
  top -15px
.testimonialsSliderItem__text__wrapper
  margin-bottom 28px
.testimonialsSliderItem__text
  position relative
  max-height: 13.8rem
  font-size 1.8rem
  line-height 2.3rem
  overflow hidden
  // margin-bottom 28px
  transition all 1s
  // text-overflow ellipsis
  
.testimonialsSliderItemImages
  display flex
  // padding-top cw(28)
  img
    display block
    max-width: 57px;
    max-height: 57px
  a
    display block
    margin-right cw(20)
    &:last-child
      margin-right 0
  // overflow: hidden

.testimonialsSlider__btn
  z-index 12
  position absolute
  // right 0
  bottom -70px
  width 102px
  height 8px
  // background red
  background-image url('../images/arrows/arrow-right1.svg')
  background-size contain
  background-position right center
  background-size no-repeat
  cursor pointer
  &--prev
    right 193px
    transform rotate(180deg)
  &--next
    right 10px

// index page styles end

// shop page styles start
.shopSection
  wrapper()
  display flex
  justify-content space-between
  padding-top cw(48)
  color $baseColor
.shopSidebar
  margin-right cw(85)
  padding-top cw(62)
  min-width 220px
.shopSidebar__categoriesBlock
  margin-bottom cw(40)
.shopSidebar__title
  fz(22)
  margin-bottom cw(30)
.shopSidebarForm__item
  margin-bottom cw(40)
.shopSidebarCategoriesList
  li
    fz(18)
    line-height (23/18)
    margin-bottom cw(14)
    a
      color #6D6D6D
      &.active
        color $baseColor
      @media(min-width: 992px)
        &:hover 
          text-decoration underline
.shopSectionCatalogBlockSorting
  margin-bottom cw(49)
  text-align right
  fz(18)
  line-height (23/18)
  color $baseColor

.shopSectionCatalog
  display grid
  grid-template-columns 1fr 1fr 1fr
  grid-column-gap cw(20)
  grid-row-gap cw(87)
  margin-bottom cw(65)
.shopSectionPagination
  margin-bottom cw(136)
.shopSectionPagination__list
  display flex
  li
    margin-right cw(14)
    &:last-child
      margin-right 0
    a,
    span
      display flex
      align-items center
      justify-content center
      fz(20)
      line-height (25/20)
      font-family $fontMd
      font-weight 500
      color $baseColor
      width cw(35)
      height cw(35)
      border 1px solid transparent
    span
      border-color $baseColor




// shop page styles end