@import '../../copy/fonts/AkzidenzGrotesk/regular/akzidenzgroteskpro-regular';
// font-family: 'AkzidenzGroteskPro-Regular';
@import '../../copy/fonts/AkzidenzGrotesk/light/akzidenzgroteskpro-light';
// font-family: 'AkzidenzGroteskPro-Light';
@import '../../copy/fonts/AkzidenzGrotesk/medium/akzidenzgroteskpro-md';
// font-family: 'AkzidenzGroteskPro-Md';
