include ../helpers/mixins
include ../helpers/variables

doctype html
html
  include ../partials/head
  body
    .page
      include ../partials/header
      main
        block content
      include ../partials/footer
    block scripts