/* FOOTER */
.footer
  background-color: $baseColor
  padding-top cw(56)
  padding-bottom cw(117)
  color #fff
  @media(min-width 992px)
    padding-top cw(15)
    padding-bottom cw(70)
.footerContent
  wrapper()
.footerContent__nav
  @media(min-width 992px)
    position relative
    top cw(71)
.footerContentList
  display flex
  justify-content center
  margin-bottom cw(45)
  xs(flex-direction, column)
  xs(margin-bottom, 55px)
  li
    margin-right cw(68)
    xs(margin, 8px 0)
    &:last-child
      margin-right 0
    a
      fz(20)
      line-height (26/20)
.footerContentBottom
  display flex
  justify-content space-between
  align-items flex-end
  sm(flex-direction, column)
  sm(align-items, flex-start)
.footerContentBottomContacts__item
  margin-bottom cw(24)
  fz(20)
  line-height (26/20)
  a
    margin-left cw(15)
    @media(min-width:992px)
      &:hover
        text-decoration underline
  &--inst
    display flex
    align-items center
    margin-bottom cw(71)
    a
      display flex
      align-items center
  &--copyrights
    margin-top cw(70)
.footerContentBottomPolicy
  display flex
  flex-direction: column
  fz(20)
  line-height (26/20)
.footerContentBottomPolicy__private
  margin-bottom cw(22)
.footerContentBottomPolicy__dev
  display flex
  align-items center
  font-family $fontLight
  img
    margin-left cw(33)