.headerInner
  wrapper()
  display flex
  justify-content space-between
  align-items center
  padding-top cw(27)
  padding-bottom cw(13)
.headerInnerNavList
  display flex
  li
    padding-right cw(65)
    &:last-child
      padding-right 0
    a
      fz(20)
      line-height (26/20)
      color $baseColor
      @media(min-width:992px)
        &:hover
          text-decoration underline
.headerInnerUserBlock
  display flex
  align-items flex-end
.headerInnerUserBlockCart
  margin-left cw(48)
  margin-right cw(48)
  position relative
.headerInnerUserBlockCart__amount
  position absolute
  right -4px
  top 5px
  z-index 2
  width cw(26)
  height cw(26)
  transform translate(100%, -100%)
  fz(11)
  line-height (14/11)
  color $baseColor
  font-family: 'AkzidenzGroteskPro-Md';
  background-color #EDEDED
  border-radius 50%
  display flex
  align-items center
  justify-content center






// mobile menu
/* mobile menu css */
// .mobileMenu {
//     display: none;
//     width: 30px;
//     height: 30px;
//     background-color: transparent;
//     position: absolute;
//     top: 25px;
//     right: 18px;
// }
// .mobileMenuBtn {
//     background-color: transparent;
//     border: none;
//     outline: none;
//     padding: 0;
//     cursor: pointer;
// }
// .mobileMenuBtn::before,
// .mobileMenuBtn::after {
//     content: "";
//     width: 24px;
//     height: 2px;
//     background-color: #000;
//     display: block;
//     margin-bottom: 4px;
//     -webkit-transition: -webkit-transform 0.3s;
//     transition: -webkit-transform 0.3s;
//     -o-transition: transform 0.3s;
//     transition: transform 0.3s;
//     transition: transform 0.3s, -webkit-transform 0.3s;
// }
// .mobileMenuBtn::after {
//     margin-bottom: 0;
//     margin-right: 6px;
//     width: 24px;
//     margin-left: auto;
// }
// .mobileMenuBtn--active {
//     position: fixed;
//     z-index: 999;
// }
// .mobileMenuBtn__line {
//     background-color: #000;
//     display: block;
//     width: 24px;
//     height: 2px;
//     margin-bottom: 4px;
//     opacity: 1;
//     -webkit-transition: opacity 1s;
//     -o-transition: opacity 1s;
//     transition: opacity 1s;
// }
// .mobileMenuBtn.mobileMenuBtn--active .mobileMenuBtn__line {
//     opacity: 0;
//     -webkit-transition: opacity 0s;
//     -o-transition: opacity 0s;
//     transition: opacity 0s;
// }
// .mobileMenuBtn.mobileMenuBtn--active::after {
//     width: 24px;
//     -webkit-transform: translateY(-6px) rotate(-135deg);
//     -ms-transform: translateY(-6px) rotate(-135deg);
//     transform: translateY(-6px) rotate(-135deg);
// }
// .mobileMenuBtn.mobileMenuBtn--active::before {
//     -webkit-transform: translateY(6px) rotate(135deg);
//     -ms-transform: translateY(6px) rotate(135deg);
//     transform: translateY(6px) rotate(135deg);
// }

// @media (max-width:1200px)
//   .mobileMenu {
//     display: block;
//     z-index 10
//   }

/* mobile menu css end */